.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #674da3, #200360);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
    gap : 12px;
}
.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}
.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50px;
    background: #ebfffc;
    cursor: pointer;
}
.weather-icon{
    width: 130px;
    margin-top: 80px ;
    margin-bottom: 40px;
}
.temp{  
    color: #fff;
    font-size: 70px;
    line-height: 1;
}
.loc{
    color: #fff;
    font-size: 30px;
}
.weather-data{
    width: 100%;
    margin-top: 90px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    font-size: 22px;
}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 20px;
}